.contentContainer {
    min-height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contentContainer__buttonWrapper {
    min-height: 10vh;
    width: 80%;
}

.contentContainer__buttonWrapper__bottom {
    display: flex;
    gap: 10px;
    margin-top: 1rem;
}

.contentContainer__description {
    width: 80%;
}

.contentContainer__description__title {
    color: #fff;
    font-size: 23px;
    font-weight: 500;
}

.contentContainer__description__text {
    color: #fff;
    font-size: 19px;
}