.headerContainer {
    width: 100%;
    height: 10vh;
    background: linear-gradient(180deg, #000000 0%, rgba(255, 255, 255, 0) 100%);
    padding-top: 1.5rem;
}

.headerContainer__logo {
    margin-left: 1.5rem;
}